@using LMS.Web.Models.Views.UserViews
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids

<div>
    <SfButton OnClick=@ShowAddDialog>
                        Create
                    </SfButton>
</div>
<div>
    <SfGrid @ref=Grid DataSource=@UserViews>

        <GridEvents TValue=UserView />

        <GridEditSettings />
    </SfGrid>
</div>

<AddUserDialogComponent @ref=AddUserDialogComponent 
                        OnCreateUser=AddCreatedUserToGridAsync />

